body::before {
  content: "";
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: url('https://www.toptal.com/designers/subtlepatterns/patterns/double-bubble.png');
  opacity: 0.1;
  pointer-events: none;
  z-index: 0;
}
